@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto+Condensed:wght@400;700&family=Roboto:ital,wght@0,300;0,500;1,700&display=swap');

:root {
    --fondo-primario:#2f2f2f;
    --font-gana: #a9df2a;
    --font-pierde:#ec1056;
    --font-empate: #7d7d7d;

    --titulo-color:#92e212;
    --sub-titulo-color:#e2fbba;
    
    --boton-fondo:#95cce8;
    --boton-font:#ec1056;
    --boton-borde:#4b44d1;
    
    --resultados-fondo:#ffffff;
    --resultados-font:#ec1056;
    --resultados-borde:#ec1056;

    
 }
 * {
    box-sizing: border-box;
 }
 body {
    background:var(--fondo-primario);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-transform: uppercase;
    margin: 0;
    font-family: 'Fredoka One', sans-serif;
 }